<div>
  <%= image_tag(@yummly_recipe.images.first.large_url) %>
</div>

<div class="detail-title">
  <h1><%= link_to @yummly_recipe.name, @yummly_recipe.attribution.url %></h1>
</div>

<div class="detail-rating">
  <h3>Rating</h3>
  <p><%= @yummly_recipe.rating %></p>
</div>

<div class="detail-preptime">
  <h3>Prep Time</h3>
  <p><%= @yummly_recipe.total_time %></p>
</div>

<hr>

<div class="detail-ingredients">
  <h3>Ingredients</h3>
  <ul>
   <% @yummly_recipe.ingredients.each do |ingredient| %>
    <li><%= ingredient %></li>
  <% end %>
  </ul>
</div>

<hr>

<%= link_to "Add to Cookbook", recipes_path(yummly_recipe_id: @yummly_recipe.id), method: :post %>
